body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.banner-title,
.banner1-title,
.header-title,
.hero-title {
  margin-top: 4rem;
  font-size: 60px;
  font-family: "Josefin Sans";
  text-align: justify;
  color: black;
}
.hero-title,
.header-title,
.banner-title,
.banner1-title,
.blogs-title,
.sellers-title,
.contact-title,
.title-measurement {
  position: relative;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    #000,
    #191970,
    #a9a9a9,
    #708090,
    #191970,
    #778899,
    #2f4f4f,
    #000
  );
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 8s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@media (max-width: 768px) {
  .banner-title,
  .banner1-title,
  .header-title,
  .hero-title {
    margin-top: 2rem;
    font-size: 22px;
    font-family: "Josefin Sans";
    text-align: justify;
    color: black;
  }
}

.text {
  text-align: justify;
  text-transform: capitalize;
  font-family: "Josefin Sans";
  color: black;
}
.text .featured-products {
  font-size: 26px;
}

.banner-paragraph,
.banner1-paragraph,
.header-info,
.header1-info {
  text-shadow: 1px 1px 1px #cce5eb;
  text-transform: capitalize;
  margin-top: 1rem;
  text-align: justify;
  font-size: 18px;
}

.btn {
  background-color: #ec133e;
  color: white;
  text-shadow: 1px 1px 1px grey;
}

.featured-title {
  font-size: 3.2rem;
}
.featured-products {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.rating span {
  color: #ec133e;
}

.product {
  border: 1px #404040 solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.product-item {
  border-radius: 8px;
  transition: transform 0.3s;
}

.product-item:hover {
  transform: scale(1.02);
}

.responsive {
  width: 100%;
  height: 100%;
  /* border-radius: 15px; */
  border: none;
  box-shadow: 1px 1px 1px solid grey;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 1200px) {
  .responsive {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .responsive {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .responsive {
    width: 100%;
    height: auto;
  }
}

.text {
  text-align: justify;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  padding: 1rem;
}

.header-info,
.banner-paragraph,
.featured-products {
  text-shadow: 1px 1px 1px #cce5eb;
  text-transform: capitalize;
}

.banner p,
.banner-paragraph {
  font-size: 24px;
  margin-top: 1rem;
  text-transform: capitalize;
  text-align: justify;
}

.card-title,
.seller-name {
  text-decoration: none;
}
.cart-thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.link-cart {
  text-decoration: none;
  color: #f93f15;
  font-weight: bold;
  font-style: italic;
}
button {
  padding: 0.5rem 1rem;
  background-color: #f93f15;
  color: white;
  text-shadow: 1px 1px 1px grey;
  border: none;
  cursor: pointer;
  border-radius: 9px;
}

button:hover {
  background-color: grey;
}
.btn-out-of-stock {
  border: none;
  color: white;
  cursor: not-allowed;
}
.small-container {
  max-width: 600px;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
.navbar-brand h3 {
  font-weight: 700;
  font-family: Josefin Sans;
  letter-spacing: 2px;
  padding: 0.5rem 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.navbar-brand p {
  color: white;
  padding-top: 10px;
  text-shadow: 1px 1px 1px black;
}
.navbar-brand span {
  color: #ec133e;
  text-shadow: 1px 1px 1px black;
}

.navbar-toggler {
  background-color: #ec133e;
}
.navbar-toggler:hover {
  background-color: grey;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #6c737f;
  transition: 0.5s;
}
.search,
h3 {
  font-family: Josefin Sans;
}
.search-title {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 7px;
}
.search-box {
  min-width: 100%;
}
.provider-update {
  text-transform: uppercase;
  color: grey;
  font-weight: bold;
}
.link-sellers,
.link-contact,
.link-blog,
.links {
  color: white;
  text-decoration: none;
}
.link-seller {
  text-decoration: none;
  font-weight: bold;
  color: grey;
}
.link-seller:hover {
  text-decoration: none;
  color: #f93f15;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #052d2e;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}
.bg-image {
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form {
  width: 100%;
  align: center;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff5e5e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #ff4040;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 0;
}

.info-item {
  display: flex;
  align-items: center;
  margin: 0 20px;
  padding: 10px;
}

.info-item i {
  font-size: 3.2rem;
  margin-right: 10px;
}

.info-item p {
  margin: 0;
  padding: 0;
  text-align: left;
}

.fa-map-marker-alt,
.fa-phone-alt,
.fa-envelope {
  font-size: 30px;
}

@media (max-width: 768px) {
  .contact-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .contact-form {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    display: block;
    text-align: center;
  }

  .info-item {
    margin: 10px 0;
  }

  .info-item p {
    text-align: center;
  }
  .info-item i {
    font-size: 2.2rem;
    margin-right: 10px;
  }
}

.info-item i {
  color: #00bfff;
  display: flex;
}

.seller-paragraph,
.blog-paragraph,
.product-paragraph {
  text-align: justify;
  font-size: 19px;
  padding: 7px;
}

.sellers-title {
  font-size: 40px;
  font-family: Josefin Sans;
  font-weight: 900;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.ac-calculation {
  text-align: justify;
}
.ac-conditioning {
  text-align: justify;
}
.upload-pdf {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.measure-header {
  width: 100%;
  height: 60px;
  padding: 8px 8px 8px 16px;
  box-sizing: border-box;
  font-size: 2.2em;
  line-height: 44px;
  color: #5a686d;
}

iframe,
object,
embed {
  max-width: 100%;
}
.result-container {
  border-style: dotted;
  border-color: grey;
}

@media (max-width: 768px) {
  .upload-pdf .header {
    font-size: 1em;
    line-height: 40px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .upload-pdf .header {
    font-size: 0.9em;
    line-height: 36px;
    padding: 8px;
  }

  .upload-pdf {
    flex-direction: column;
    align-items: center;
  }

  .webviewer {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .output-div {
    grid-template-columns: 1fr;
  }

  .form-control {
    font-size: 14px;
    padding: 8px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 15px;
  }
}

@media (max-width: 480px) {
  .upload-pdf {
    padding: 10px;
  }

  .pdf-div p {
    font-size: 16px;
    font-size: 16px;
  }

  .inner-div {
    padding: 10px;
  }
}

form.d-flex {
  margin: 0 auto;
  max-width: 100%;
}

.input-group {
  width: 100%;
}

@media (min-width: 576px) {
  .input-group {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .input-group {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .input-group {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .input-group {
    width: 50%;
  }
}
.product-result {
  text-decoration: none;
  font-size: 18px;
}
.product-result img {
  text-decoration: none;
  text-decoration: none;
  font-size: 18px;
  margin-right: 15px;
}
.profile-icons i {
  padding: 0.4rem 0.5rem;
  background: #e1e1e1;
  color: #ec133e;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: inline;
}

.profile-icons i:hover {
  background: #ec133e;
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}
.footer {
  margin-top: 15rem;
}

.ft-1 h3 {
  font-weight: 700;
  font-family: Josefin Sans;
  letter-spacing: 2px;
  padding: 0.5rem 0;
  text-shadow: 1px 1px 1px black;
}

.ft-1 span {
  color: #ec133e;
  text-shadow: 1px 1px 1px black;
}

.ft-1 p {
  padding: 0rem 5rem 0.8rem 0;
  font-weight: 500;
}

.footer-icons i {
  padding: 0.4rem 0.5rem;
  background: #e1e1e1;
  color: #ec133e;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: inline;
}

.footer-icons i:hover {
  background: #ec133e;
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}

.footer h5 {
  color: white;
  padding-top: 10px;
  text-shadow: 1px 1px 1px black;
}

.ft-3 p {
  font-weight: 500;
  padding: 0.1rem 0;
  font-size: 1.06rem;
}

.ft-3 i {
  padding-right: 0.5rem;
}

.last-footer {
  background: grey;
  text-align: center;
  padding: 1rem 0;
}

.last-footer p {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

@media (min-width: 1440px) {
  .search-box {
    max-width: 80%;
  }
}

.about-title,
.mission-title,
.goals-title {
  position: center;
  font-size: 40px;
  font-family: Josefin Sans;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 1px 1px coral;
}

.about-paragraph {
  padding: 10px;
  font: 25px Arial, sans-serif;
  text-align: justify;
}
.goals-paragraph {
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: 1px 1px coral;
  position: relative;
  text-align: justify;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.blog-item {
  position: relative;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-item:hover {
  transform: scale(1.02);
}

.blog-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  padding: 15px;
  text-align: left;
}

.blog-title {
  font-size: 1.2rem;
  margin: 0 0 10px;
}
.blogs-title {
  font-size: 50px;
  font-family: Josefin Sans;
  font-weight: 900;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.blog-description {
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.blog-link {
  text-decoration: none;
  color: #fff;
  background-color: #ec133e;
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}
.link-blogs {
  text-decoration: none;
  color: #ec133e;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}

.file-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.file-preview {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .file-preview {
    width: 100%;
    height: auto;
  }
}
.btu-calculator-container,
.square-container {
  border: 5px double grey;
}

.square-form input {
  width: 50%;
}

.link-product-details {
  text-decoration: none;
  color: blue;
  font-weight: bold;
  margin: 10px;
  padding: 8px;
}

.link-product-details:hover {
  color: teal;
}

.btu-calculator-container {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .btu-calculator-container {
    grid-template-columns: 1fr;
  }
}

.btu-form {
  display: block;
}

.btu-form h3 {
  color:#666699 ;
  font-size: 1.6rem;
  font-weight: bold;
}

.btu-form .form-group {
  margin-bottom: 20px;
}

.btu-form input,
.btu-form button,
.btu-form select {
  padding: 9px;
  margin-top: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
  color:#666699;
}

/* Buttons */
.btu-form button {
  background-color:#666699;
  color: white;
  transition: background-color 0.3s;
}

.btu-form button:hover {
  background-color: #0056b3;
}

.btn-sm {
  background-color:#666699 ;
  align-items: center;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.btn-sm:hover {
  background-color: #c82333;
}
.btn-calculate, .btn-sm, .btn-add{
  padding: 5px;
  width: calc(67% - 10px);
}
.btu-error{
  color: red;
  font-weight: bold;
}
.btu-results .table {
  background-color: #ffffff;
  border-radius: 5px;
}

.btu-results th {
  background-color: #666699;
  color: white;
}

.btu-results td {
  background-color: #f8f9fa;
}

.total-results {
  font-weight: bold;
  background-color: #ffc107 !important;
}

.link-product-details img {
  max-width: 100px;
  height: auto;
  background-color: #e0e0e0;
}

.title {
  text-align: center;
  color: #343a40;
  font-size: 2rem;
}

.mt-4,
.mb-4 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.upload-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
}

.btu-calculation-measure {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}


.label-upload {
  color:#666699;
  font-weight: bold;
  font-size: 24px;
  font-family: Josefin Sans;
}
.warning {
  color: #cc0099;
}
.responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border: 1px solid #ddd;
}

canvas {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

@media screen and (max-width: 1668px) {
  canvas {
    width: 100%;
    height: 1100px;
  }
}

@media screen and (max-width: 1368px) {
  canvas {
    width: 100%;
    height: 900px;
  }
}

@media screen and (max-width: 1068px) {
  canvas {
    width: 100%;
    height: 700px;
  }
}

@media screen and (max-width: 768px) {
  canvas {
    width: 100%;
    height: 500px;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  canvas {
    width: 100%;
    height: 500px;
  }
}

@media only screen and (max-width: 480px) {
  .responsive-iframe {
    height: 600px;
    width: 500px;
  }
}

@media only screen and (max-width: 780px) {
  .btn-calculate, .btn-sm, .btn-add{
    padding: 6px;
    width: calc(100% - 10px);
  }
  .line-hr{
    width: 100%;
  }
  }

