body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.banner-title,
.banner1-title,
.header-title,
.hero-title {
  margin-top: 4rem;
  font-size: 60px;
  font-family: "Josefin Sans";
  text-align: justify;
  color: black;
}
.hero-title,
.header-title,
.banner-title,
.banner1-title {
  position: relative;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  /* font-size: 2em; */
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    #000,
    #191970,
    #000000,
    #c0c0c0,
    #000,
    #f5fffa,
    #000,
    #708090
  );
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 8s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .banner-title,
  .banner1-title,
  .header-title,
  .hero-title {
    margin-top: 2rem;
    font-size: 35px;
    font-family: "Josefin Sans";
    text-align: justify;
    color: black;
  }
}

.text {
  text-align: justify;
  text-transform: capitalize;
  font-family: "Josefin Sans";
  color: black;
}
.text .featured-products {
  font-size: 26px;
}

.banner-paragraph,
.banner1-paragraph,
.header-info,
.header1-info {
  text-shadow: 1px 1px 1px #cce5eb;
  text-transform: capitalize;
  margin-top: 1rem;
  text-align: justify;
}

.btn {
  background-color: #f93f15;
  color: white;
  text-shadow: 1px 1px 1px grey;
}

.featured-title {
  font-size: 3.2rem;
}
.featured-products {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.rating span {
  color: #f84716;
}

.product {
  border: 1px #404040 solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.responsive {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border-shadow: 1px 1px 1px solid grey;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.text {
  text-align: justify;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  padding: 1rem;
}

.header-info,
.banner-paragraph,
.featured-products {
  text-shadow: 1px 1px 1px #cce5eb;
  text-transform: capitalize;
}

.banner p,
.banner-paragraph {
  font-size: 24px;
  margin-top: 1rem;
  text-transform: capitalize;
  text-align: justify;
}

.responsive {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 1px 1px 1px grey;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.card-title,
.seller-name {
  text-decoration: none;
}
.cart-thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

button {
  padding: 0.5rem 1rem;
  background-color: #f93f15;
  color: white;
  text-shadow: 1px 1px 1px grey;
  border: none;
  cursor: pointer;
  border-radius: 9px;
}

button:hover {
  background-color: grey;
}
.btn-out-of-stock {
  border: none;
  color: white;
  cursor: not-allowed;
}
.small-container {
  max-width: 600px;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
.navbar-brand h3 {
  font-weight: 700;
  font-family: cursive;
  letter-spacing: 2px;
  padding: 0.5rem 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.navbar-brand p {
  color: white;
  padding-top: 10px;
  text-shadow: 1px 1px 1px black;
}
.navbar-brand span {
  color: #f93f15;
  text-shadow: 1px 1px 1px black;
}

.navbar-toggler {
  background-color: #f93f15;
}
.navbar-toggler:hover {
  background-color: grey;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #6c737f;
  transition: 0.5s;
}
.search,
h3 {
  font-family: Josefin Sans;
}
.search-title {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 7px;
}
.search-box{
width: 100%;
}
.link-sellers,
.link-contact,
.links {
  color: white;
  text-decoration: none;
}
.link-seller {
  text-decoration: none;
  font-weight: bold;
  color: grey;
}
.link-seller:hover {
  text-decoration: none;
  color: #f93f15;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #052d2e;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}
.contact-form {
  font-weight: bold;
  color: grey;
  font-family: Josefin Sans;
  font-size: 18px;
}
.seller,
p {
  text-align: justify;
  font-size: 19px;
  padding: 7px;
}
.ac-types,
.ac-calculation {
  text-align: justify;
}
.ac-conditioning {
  text-align: justify;
}
.upload-pdf {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 60px;
  padding: 8px 8px 8px 16px;
  box-sizing: border-box;
  background: #00a5e4;
  font-size: 1.2em;
  line-height: 44px;
  color: white;
}

iframe,
object,
embed {
  max-width: 100%;
}
.result-container {
  border-style: dotted;
  border-color: grey;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .upload-pdf .header {
    font-size: 1em; /* Slightly smaller font for smaller screens */
    line-height: 40px;
    padding: 8px; /* Reduce padding to save space */
  }
}

@media (max-device-width: 480px) {
  .upload-pdf .header {
    font-size: 0.9em; /* Smaller font size for very small screens */
    line-height: 36px;
    padding: 8px; /* Further reduce padding */
  }

  .upload-pdf {
    flex-direction: column;
    align-items: center; /* Center align content for small screens */
  }

  .webviewer {
    width: 100%; /* Ensure the viewer takes up full width */
    height: auto; /* Adjust height to maintain aspect ratio */
  }
}

@media (max-width: 768px) {
  .output-div {
    grid-template-columns: 1fr;
  }

  .form-control {
    font-size: 14px;
    padding: 8px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 15px;
  }
}

@media (max-device-width: 480px) {
  .upload-pdf {
    padding: 10px;
  }

  .pdf-div p {
    font-size: 16px;
  }

  .inner-div {
    padding: 10px;
  }
}

form.d-flex {
  margin: 0 auto;
  max-width: 100%;
}

.input-group {
  width: 100%;
}


 @media (min-width: 576px) {
   .input-group {
    width: 80%;
  }
}

@media (min-width: 768px) {
  /* For screens >= 768px */
  .input-group {
    width: 70%;
  }
}

@media (min-width: 992px) {
  /* For screens >= 992px */
  .input-group {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  /* For screens >= 1200px */
  .input-group {
    width: 50%;
  }
}
.product-result {
  text-decoration: none;
  font-size: 18px;
}
.product-result img {
  text-decoration: none;
  text-decoration: none;
  font-size: 18px;
  margin-right: 15px;
}

.footer {
  /* padding: 2rem 0; */
  margin-top: 15rem;
}

.ft-1 h3 {
  font-weight: 700;
  font-family: cursive;
  letter-spacing: 2px;
  padding: 0.5rem 0;
  text-shadow: 1px 1px 1px black;
}

.ft-1 span {
  color: #f93f15;
  text-shadow: 1px 1px 1px black;
}

.ft-1 p {
  padding: 0rem 5rem 0.8rem 0;
  font-weight: 500;
}

.footer-icons i {
  padding: 0.4rem 0.5rem;
  background: #e1e1e1;
  color: #f93f15;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: inline;
}

.footer-icons i:hover {
  background: #f93f15;
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}

.footer h5 {
  color: white;
  padding-top: 10px;
  text-shadow: 1px 1px 1px black;
}

.ft-3 p {
  font-weight: 500;
  padding: 0.1rem 0;
  font-size: 1.06rem;
}

.ft-3 i {
  padding-right: 0.5rem;
}

.last-footer {
  background: grey;
  text-align: center;
  padding: 1rem 0;
}

.last-footer p {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

@media (min-width: 1440) {
.search-box{
max-width: 80%;
}
}
